@media (max-width: 1920px) {
  .container {
    max-width: 1920px; } }
@media (max-width: 1440px) {
  .container {
    max-width: 768px; }
    .containerh1 {
      font-size: 50px; }

  .menu__wrapper {
    width: 100%; } }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-Bold.eot");
  src: url("EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-BoldItalic.eot");
  src: url("EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'PP Eiko';
  src: url("PPEiko-Medium.eot");
  src: url("PPEiko-Medium.eot?#iefix") format("embedded-opentype"), url("PPEiko-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("PPEiko-BlackItalic.eot");
  src: url("PPEiko-BlackItalic.eot?#iefix") format("embedded-opentype"), url("PPEiko-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-SemiBoldItalic.eot");
  src: url("EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-SemiBold.eot");
  src: url("EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("PPEiko-Heavy.eot");
  src: url("PPEiko-Heavy.eot?#iefix") format("embedded-opentype"), url("PPEiko-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-LightItalic.eot");
  src: url("EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-Medium.eot");
  src: url("EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-Italic.eot");
  src: url("EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-MediumItalic.eot");
  src: url("EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'PP Eiko';
  src: url("PPEiko-LightItalic.eot");
  src: url("PPEiko-LightItalic.eot?#iefix") format("embedded-opentype"), url("PPEiko-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-Regular.eot");
  src: url("EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("EuclidCircularA-Light.eot");
  src: url("EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("PPEiko-Thin.eot");
  src: url("PPEiko-Thin.eot?#iefix") format("embedded-opentype"), url("PPEiko-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
* {
  font-family: 'Euclid Circular A';
  box-sizing: border-box; }

html {
  background-color: #0B222E; }

h1 {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #F4F7FA; }

h2 {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  color: #F4F7FA; }

.container {
  margin-left: 80px;
  margin-right: 80px; }

.menu__wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0B222E; }

.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 96px; }

.main__title {
  width: 1125px;
  height: 300px; }

.menu__item a {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #F4F7FA;
  text-decoration: none;
  transition: all 0.5s; }

.main__wrapper {
  min-height: 900px;
  padding: 180px 0 180px 0;
  background-image: url(../../img/mainbg.png);
  background-repeat: no-repeat;
  background-size: 100% 670px;
  background-position: top 295px right 0px; }

.main__title {
  max-width: 1125px;
  max-height: 300px;
  margin: 0 auto; }

.main__subtitle {
  font-weight: 300;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #92A4B2;
  margin: 0 auto;
  padding: 43px 0 177px 0; }

.lang__list {
  padding: 16px;
  width: 117px;
  height: 80px;
  border: 3px solid #4DA19F;
  background-color: #0B222E;
  color: #F4F7FA;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px; }
  .lang__list:focus-visible {
    outline: none; }

.button__client {
  padding: 16px 30px;
  gap: 8px;
  width: 225px;
  height: 80px;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #4DA19F;
  color: #0B222E;
  border: none;
  transition: background-color 1s, color 1s;
  cursor: pointer; }
  .button__client:-webkit-transition {
    background-color: 1s; }
  .button__client:hover {
    padding: 16px 30px;
    gap: 8px;
    width: 225px;
    height: 80px;
    background-color: #0B222E;
    color: #4DA19F;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 18px; }

.options {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.options__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(1/4*100% - (1 - 1/4)*10px);
  height: 307px;
  gap: 21px;
  padding: 30px 50px 30px 30px; }
  .options__item:nth-child(1) {
    background-color: #377472; }
  .options__item:nth-child(2) {
    background-color: #3A4352; }
  .options__item:nth-child(3) {
    background-color: #13485C; }
  .options__item:nth-child(4) {
    background-color: #19333D; }
  .options__item-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA; }
  .options__item-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #D5DFE6; }
  .options__item-link {
    display: flex;
    justify-content: space-between;
    width: 365px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #F4F7FA;
    text-decoration: none; }
    .options__item-linkmore__arrow {
      margin-left: 146px; }

/*# sourceMappingURL=style.css.map */
