@charset "UTF-8";
* {
  font-family: 'Euclid Circular A';
  box-sizing: border-box; }

html {
  background-color: #0B222E; }

h1 {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  align-content: center;
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #F4F7FA; }

h2 {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  color: #F4F7FA; }

.container {
  margin-left: 80px;
  margin-right: 80px; }

@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Bold.eot");
  src: url("../../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-BoldItalic.eot");
  src: url("../../fonts/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'PP Eiko';
  src: url("../../fonts/PPEiko-Medium.eot");
  src: url("../../fonts/PPEiko-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/PPEiko-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("../../fonts/PPEiko-BlackItalic.eot");
  src: url("../../fonts/PPEiko-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PPEiko-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-SemiBoldItalic.eot");
  src: url("../../fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-SemiBold.eot");
  src: url("../../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("../../fonts/PPEiko-Heavy.eot");
  src: url("../../fonts/PPEiko-Heavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/PPEiko-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-LightItalic.eot");
  src: url("../../fonts/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Medium.eot");
  src: url("../../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Italic.eot");
  src: url("../../fonts/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-MediumItalic.eot");
  src: url("../../fonts/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'PP Eiko';
  src: url("../../fonts/PPEiko-LightItalic.eot");
  src: url("../../fonts/PPEiko-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/PPEiko-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Regular.eot");
  src: url("../../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Euclid Circular A';
  src: url("../../fonts/EuclidCircularA-Light.eot");
  src: url("../../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'PP Eiko';
  src: url("../../fonts/PPEiko-Thin.eot");
  src: url("../../fonts/PPEiko-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/PPEiko-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
.menu__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(max-content, max-content, max-content max-content);
  grid-template-areas: ". . . .";
  justify-content: space-around;
  background-color: #0B222E;
  width: 100%; }

.logo__brand {
  width: 311.73px;
  height: 80px; }

.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 96px;
  text-decoration: none;
  z-index: 1; }

.hamburger {
  display: none; }

.container__menu {
  display: none; }

.menu__link {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #F4F7FA;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  width: 100%;
  height: 500px; }
  .menu__link:hover {
    background-size: 100% 2px; }
  .menu__link .get__client {
    width: 250px; }

.main__wrapper {
  min-height: 900px;
  padding: 180px 0 180px 0;
  background-image: url("../../icons/map.svg");
  background-repeat: no-repeat;
  background-size: 100% 670px;
  background-position: top 0 right 0; }

.main__title {
  margin: 0 auto;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s; }
  .main__title._active {
    transform: translate(0px, 0px);
    opacity: 1; }

.main__subtitle {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #92A4B2;
  margin: 0 auto;
  padding: 43px 0 177px 0;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0.4s; }
  .main__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
    padding: 90px 0 137px 0; }

.mobile-get-client {
  display: none; }

.lang__list {
  padding: 16px;
  width: 117px;
  height: 80px;
  border: 3px solid #4DA19F;
  background-color: #0B222E;
  color: #F4F7FA;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px; }
  .lang__list:focus-visible {
    outline: none; }

.button__client {
  padding: 16px 30px;
  gap: 8px;
  width: 230px;
  height: 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #4DA19F;
  color: #0B222E;
  border: none;
  transition-duration: 0.4s;
  transition: background-color 1s, color 1s;
  cursor: pointer; }
  .button__client:-webkit-transition {
    background-color: 1s; }
  .button__client:hover {
    padding: 16px 30px;
    gap: 8px;
    background-color: #155654;
    color: #4DA19F;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 18px; }

.g-form__button {
  background: #4DA19F;
  color: #0B222E;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  transition: background-color 1s, color 1s;
  cursor: pointer; }
  .g-form__button:-webkit-transition {
    background-color: 1s; }
  .g-form__button:hover {
    background-color: #0B222E;
    color: #4DA19F;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 18px; }

.options {
  display: grid;
  grid-template-columns: repeat(4, 425px);
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: center; }

.options__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 425px;
  height: 307px;
  gap: 21px;
  padding: 20px 50px 30px 30px; }
  .options__item:nth-child(1) {
    background-color: #377472; }
  .options__item:nth-child(2) {
    background-color: #3A4352; }
  .options__item:nth-child(3) {
    background-color: #13485C; }
  .options__item:nth-child(4) {
    background-color: #19333D; }
  .options__item-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA; }
  .options__item-subtitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    color: #D5DFE6; }
  .options__item-link {
    display: flex;
    justify-content: space-between;
    width: 365px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #F4F7FA;
    text-decoration: none;
    gap: 150px; }

.markets__wrapper {
  padding-bottom: 180px; }

.markets__title h2 {
  margin: 0 auto;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  color: #F4F7FA; }

.markets__map img {
  width: 100%;
  height: 1187.32px; }

.tools__wrapper {
  min-height: 716px; }

.tools__item {
  max-height: 885px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; }

.tools__item-container {
  width: 425px;
  height: 184px; }
  .tools__item-container:nth-child(1) {
    background: url("../../icons/tools_item.svg");
    background-repeat: no-repeat;
    background-position: left 20px top 90px;
    background-color: #0E3848; }
  .tools__item-container:nth-child(2) {
    background: url("../../icons/tools_item2.svg");
    background-repeat: no-repeat;
    background-position: left -3px top -20px;
    background-color: #0E3848; }
  .tools__item-container:nth-child(3) {
    background: url(../../icons/tools_item.svg);
    background-repeat: no-repeat;
    background-color: #0E3848; }
  .tools__item-container:nth-child(4) {
    background: url(../../icons/tools_item3.svg);
    background-repeat: no-repeat;
    background-color: #0E3848; }
  .tools__item-container:nth-child(5) {
    background: url(../../icons/tools_item2.svg);
    background-repeat: no-repeat;
    background-position: left -3px top -20px;
    background-color: #0E3848; }
  .tools__item-container:nth-child(6) {
    background: url(../../icons/tools_item.svg);
    background-repeat: no-repeat;
    background-color: #0E3848; }
  .tools__item-container:nth-child(7) {
    background: url(../../icons/tools_item3.svg);
    background-repeat: no-repeat;
    background-color: #0E3848; }

.tools__item-subtitle {
  padding-top: 73px;
  font-weight: 300;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: #F4F7FA; }

.approach__table {
  display: grid;
  grid-template-columns: 185px 971px;
  grid-template-rows: repeat(3, 317px);
  justify-content: center; }

.approach__number {
  border-top: 3px solid #D9D9D9;
  padding: 25px;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  color: #F4F7FA; }

.approach__title {
  border-top: 3px solid #D9D9D9;
  padding: 25px;
  font-weight: 300;
  font-size: 72px;
  line-height: 72px;
  color: #F4F7FA; }

.numbers__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 575px);
  grid-template-rows: 305px;
  grid-gap: 20px;
  justify-content: center; }

.numbers__item {
  position: relative; }
  .numbers__item-title {
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF; }
  .numbers__item-subtitle {
    width: 333px;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #4DA19F;
    margin: 0 auto; }
  .numbers__item-line {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(#418D8B, #0E3848); }

.partners__form-wrapper {
  min-height: 468px;
  margin-top: 80px;
  background-image: url(../../img/mainbg.png);
  background-repeat: no-repeat;
  background-size: 100% 670px;
  background-position: top 101px right 0px; }

.partners__form-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #92A4B2; }

.g-form {
  margin-top: 132px;
  display: grid;
  grid-template-columns: 624px 624px;
  grid-template-rows: 90px 90px;
  justify-content: center;
  grid-gap: 20px; }

.form__input {
  padding: 25px 0 25px 30px;
  background: #0E3848;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #92A4B2;
  border: none; }

.questions__wrapper {
  min-height: 500px; }

.questions__list {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 890px 870px;
  grid-template-rows: minmax(max-content, max-content, max-content, max-content);
  justify-content: center;
  align-content: center;
  grid-template-areas: "questions__title questions__item-1" ". questions__item-2" ". questions__item-3" ". questions__item-4"; }

.questions__title {
  grid-area: questions__title; }

.questions__item-1 {
  grid-area: questions__item-1; }

.questions__item-2 {
  grid-area: questions__item-2; }

.questions__item-3 {
  grid-area: questions__item-3; }

.questions__item-4 {
  grid-area: questions__item-4; }

.questions__item-1, .questions__item-2, .questions__item-3, .questions__item-4 {
  width: 100%;
  border-bottom: 2px solid gray; }

.questions__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #F4F7FA; }

.questions__item-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F4F7FA; }

.questions__item-menu {
  text-align: left;
  padding: 18px;
  width: 100%;
  height: 90px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  background-color: transparent;
  color: #F4F7FA;
  border: none;
  outline: none;
  transition: 1s;
  cursor: pointer; }
  .questions__item-menu:after {
    content: url("../../icons/arrowdown.svg");
    /* Unicode character for "plus" sign (+) */
    width: 11px;
    color: #777;
    float: right;
    margin-left: 5px; }

.active:after {
  content: url("../../icons/arrowdown.svg");
  transform: rotate(90deg);
  transition: all 0.5s;
  width: 11px;
  color: #777;
  float: right;
  margin-left: 5px; }

.menumenu {
  font-size: 16px;
  line-height: 16px;
  color: #F4F7FA;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.5s ease-out;
  margin-bottom: 10px; }

.footer__wrapper {
  border-top: 1px solid gray;
  padding-top: 63px;
  display: grid;
  grid-template-columns: 311px 457px 462px 249px;
  grid-template-rows: 144px;
  justify-content: space-between;
  font-size: 32px;
  line-height: 32px;
  color: #F4F7FA; }
  .footer__wrapperlogo {
    margin: 0 auto; }
  .footer__wrapperadress {
    margin: 0 auto;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA; }
  .footer__wrappercontacts {
    margin: 0 auto;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA; }
    .footer__wrappercontactslink__email a {
      text-decoration: none;
      color: white; }
  .footer__wrapper .footer__contacts {
    text-decoration: none;
    color: white; }
  .footer__wrapperbutton {
    margin: 0 auto; }

@media (max-width: 1920px) {
  .container {
    max-width: 1920px; }

  .menu__wrapper {
    justify-content: space-between; }

  .partners__form-wrapper {
    display: flex;
    justify-content: center; } }
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 40px 0 40px; }

  h1 {
    font-weight: 300;
    font-size: 72px;
    line-height: 72px; }

  .menu__wrapper {
    justify-content: space-between; }

  .logo__brand {
    width: 165px;
    height: 66px; }

  .logo__brand img {
    width: 205px;
    height: 66px; }

  .menu__list {
    gap: 17px;
    margin: 0 auto; }

  .menu__item a {
    font-weight: 600;
    font-size: 18px;
    line-height: 16px; }

  .button__client {
    padding: 16px 30px;
    width: 207px;
    height: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }
    .button__client:hover {
      padding: 16px 30px;
      gap: 8px;
      height: 80px;
      background-color: #0B222E;
      color: #4DA19F;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase; }

  .main__title {
    width: 909px;
    height: 216px; }

  .options {
    display: grid;
    grid-template-columns: repeat(2, 670px);
    grid-template-rows: repeat(2, 307px);
    grid-auto-flow: row;
    grid-gap: 20px; }

  .options__item {
    width: 670px; }

  .options__item-link {
    gap: 400px; }

  .markets__title h2 {
    font-size: 38px;
    line-height: 38px; }

  .tools__item-container {
    width: 325px;
    height: 141px; }

  .tools__item-subtitle {
    padding-top: 59px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .approach__table {
    display: grid;
    grid-template-columns: 97px 611px; }

  .numbers__list {
    display: grid;
    grid-template-columns: repeat(3, 400px); }

  .questions__list {
    grid-template-columns: 590px 770px; }

  .footer__wrapper {
    grid-template-columns: 250px 400px 350px 200px; } }
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 40px 0 40px; }

  .menu__wrapper {
    align-items: center; }

  .logo__brand {
    width: 165px;
    height: 66px; }

  .logo__brand img {
    width: 150px;
    height: 66px; }

  .menu__list {
    gap: 15px;
    margin: 0 auto; }

  .menu__item a {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .lang__list {
    width: 87px;
    height: 64px; }

  .get__client {
    height: 64px; }

  .button__client {
    padding: 16px 30px;
    gap: 8px;
    width: 200px;
    height: 64px; }
    .button__client:hover {
      width: 200px;
      height: 64px; }

  .options {
    grid-template-columns: repeat(2, 547px);
    grid-template-rows: repeat(2, 290px); }

  .options__item {
    width: 566px; }

  .options__item-link {
    gap: 323px; }

  .main__title h1 {
    font-weight: 300;
    font-size: 72px;
    line-height: 72px; }

  .tools__wrapper {
    min-height: 457px; }

  .tools__item-container {
    width: 230px;
    height: 121px; }

  .approach__table {
    grid-template-rows: repeat(3, 206px); } }
@media (max-width: 991px) {
  .container {
    max-width: 991px;
    margin: 0 40px 0 40px; }

  .menu__wrapper {
    grid-template-columns: minmax(max-content max-content);
    grid-template-rows: repeat(2, 60px);
    grid-template-areas: ". ." ". .";
    justify-items: space-between; }

  .logo__brand {
    width: 165px;
    height: 66px; }

  .logo__brand img {
    width: 150px;
    height: 66px; }

  .menu__list {
    gap: 15px;
    margin: 0 auto; }

  .menu__item a {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .lang__list {
    width: 90px;
    height: 64px; }

  .get__client {
    height: 64px;
    display: flex;
    justify-content: flex-end; }

  .button__client {
    padding: 16px 30px;
    gap: 8px;
    width: 200px;
    height: 64px; }
    .button__client:hover {
      width: 200px;
      height: 64px; }

  .main__wrapper {
    min-height: 900px;
    padding: 180px 0 50px 0; }

  .options {
    grid-template-columns: repeat(2, 425px);
    grid-template-rows: repeat(2, 245px); }

  .options__item {
    width: 425px;
    height: 250px; }
    .options__item-title {
      font-size: 20px; }
    .options__item-subtitle {
      font-size: 18px; }
    .options__item-link {
      font-size: 18px;
      gap: 215px; }

  .options__item-link img {
    width: 30px; }

  .main__title h1 {
    font-weight: 300;
    font-size: 72px;
    line-height: 72px; }

  .tools__title {
    padding-bottom: 50px; }

  .tools__wrapper {
    min-height: 457px; }

  .tools__item-container {
    width: 230px;
    height: 121px; }

  .approach_wrapper {
    padding: 50px 0 0 0; }

  .approach__table {
    margin: 20px 0 0 0;
    grid-template-rows: repeat(3, 125px);
    justify-content: center; }

  .approach__number {
    border-top: 2px solid #D9D9D9;
    padding: 25px;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA; }

  .approach__title {
    border-top: 2px solid #D9D9D9;
    padding: 5px;
    font-weight: 300;
    font-size: 32px;
    line-height: 72px;
    color: #F4F7FA; }

  .numbers__list {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-title {
    font-size: 150px;
    line-height: 200px; }

  .numbers__item-line {
    position: relative; }

  .partners__form-wrapper {
    margin-top: 50px;
    min-height: 470px;
    background-size: 100% 474px;
    background-position: top -8px right 0; }

  .g-form {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: max-content;
    width: 100%; }

  .g-form__button {
    height: 70px; }

  .questions__list {
    grid-template-columns: 231px 518px; }

  .questions__title {
    font-weight: 300;
    font-size: 34px;
    line-height: 64px;
    color: #f4f7fa; }

  .footer__wrapper {
    padding: 0 0 20px 0;
    border: none;
    grid-template-columns: 430px 430px;
    grid-template-rows: max-content max-content;
    justify-content: flex-start; }

  .footer__contacts {
    font-size: 24px;
    line-height: 24px;
    color: white; }

  .footer__contacts a {
    font-size: 24px;
    line-height: 24px; }

  .footer__adress {
    font-size: 24px;
    line-height: 24px; }

  .button__client {
    width: 219.29px;
    height: 60px; } }
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 40px 0 40px; }

  .main__wrapper {
    justify-content: center;
    padding: 0px 0 60px 0; }

  .button__client {
    width: 100%; }
    .button__client:hover {
      width: 100%; }

  .mobile-get-client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 8px; }
    .mobile-get-client:hover {
      width: 100%; }

  .menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 60px; }

  .logo__brand img {
    width: 150px;
    height: 80px; }

  .hamburger {
    padding: 0;
    margin-top: 20px;
    display: block;
    width: 37px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden; }

  .hamburger span {
    width: 37px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4DA19F;
    transition: all 0.5s; }
    .hamburger span:nth-child(1) {
      top: 5px; }
    .hamburger span:nth-child(2) {
      top: 15px; }
    .hamburger span:nth-child(3) {
      top: 25px; }

  .active span:nth-of-type(1) {
    display: none; }

  .active span:nth-of-type(2) {
    top: 45%;
    transform: translate(-60%, 0%) rotate(45deg); }

  .active span:nth-of-type(3) {
    top: 45%;
    transform: translate(-60%, 0%) rotate(-45deg); }

  /* Меню, которое будет появляться */
  .menu__list {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: left;
    align-content: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #0B222E;
    transform: translateX(-100%);
    transition: transform 0.5s; }
    .menu__listmenu__item {
      font-size: 16px;
      line-height: 16px; }

  .active {
    transform: translateX(0); }
    .activelang__list {
      display: block; }

  .lang__list {
    display: none; }

  .get__client {
    display: none; }

  .main__title {
    text-align: center;
    margin-top: 50px;
    width: 355px;
    height: 114px;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .main__subtitle {
    width: 330px;
    height: 32px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px; }

  .options {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 20px; }

  .options__item {
    width: 455px; }

  .options__item-link {
    gap: 46px; }

  .questions__title {
    padding-top: 10px; }

  .questions__list {
    grid-template-columns: 180px 518px; }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; } }
@media (max-width: 576px) {
  .container {
    margin: 20px 10px 10px 10px;
    max-width: 576px; }

  .main__title {
    width: 100%; }

  .main__subtitle {
    padding: 43px 0 61px 0; }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }

  .options__item {
    width: 355px;
    height: 291px; }
    .options__item-title {
      font-size: 24px;
      line-height: 24px; }

  .options__item-link {
    width: 100%;
    height: 76px; }

  .more__arrow {
    height: 20px; }

  .markets__title h2 {
    height: 130px;
    width: 100%;
    font-size: 38px;
    line-height: 38px; }

  .mobile-get-client {
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .hamburger {
    padding: 0; }

  .markets__wrapper {
    padding: 0; }

  .markets__map img {
    height: 147px; }

  .tools__wrapper {
    height: auto; }

  .tools__title {
    margin: 37px; }

  .tools__item-container {
    width: 100%;
    height: 40px; }

  .tools__item-subtitle {
    padding: 7px; }

  .approach__table {
    display: block; }

  .approach__number {
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__title {
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    border: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__descr {
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .numbers__list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-line {
    position: relative;
    margin-top: 50px; }

  .g-form {
    grid-template-columns: 435px;
    padding: 0;
    margin-top: 30px;
    grid-gap: 35px; }

  .partners__form-wrapper {
    min-height: 470px;
    margin-top: 40px; }

  .partners__form-submit {
    height: 56px;
    margin-top: 40px; }

  .form__input {
    height: 56px; }

  .questions__list {
    display: flex;
    flex-direction: column; }

  .questions__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .footer__contacts {
    margin: 10px; }

  .footer__adress {
    margin: 10px; }

  .footer__button {
    display: block;
    margin: 10px; } }
@media (max-width: 390px) {
  .container {
    margin: 20px 10px 10px 10px;
    max-width: 375px; }

  .main__title {
    width: 100%; }

  .main__subtitle {
    padding: 43px 0 61px 0; }

  .options {
    display: flex;
    flex-direction: column; }

  .options__item {
    width: 355px;
    height: 291px; }
    .options__item-title {
      font-size: 24px;
      line-height: 24px; }

  .options__item-link {
    width: 100%;
    height: 76px; }

  .more__arrow {
    height: 20px; }

  .markets__title h2 {
    height: 130px;
    width: 100%;
    font-size: 38px;
    line-height: 38px; }

  .mobile-get-client {
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .hamburger {
    padding: 0; }

  .markets__wrapper {
    padding: 0; }

  .markets__map img {
    height: 147px; }

  .tools__wrapper {
    height: auto; }

  .tools__title {
    margin: 37px; }

  .tools__item-container {
    width: 100%;
    height: 40px; }

  .tools__item-subtitle {
    padding: 7px; }

  .approach__table {
    display: block; }

  .approach__number {
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__title {
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    border: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__descr {
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .numbers__list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-line {
    position: relative;
    margin-top: 50px; }

  .g-form {
    grid-template-columns: 320px;
    padding: 0;
    margin-top: 10px;
    grid-gap: 10px; }

  .partners__form-wrapper {
    min-height: 430px;
    margin-top: 40px; }

  .partners__form-submit {
    height: 56px;
    margin-top: 20px; }

  .form__input {
    height: 56px; }

  .questions__list {
    display: flex;
    flex-direction: column; }

  .questions__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .footer__contacts {
    margin: 10px; }

  .footer__adress {
    margin: 10px; }

  .footer__button {
    display: block;
    margin: 10px; } }
@media (max-width: 375px) {
  .container {
    margin: 20px 10px 10px 10px;
    max-width: 375px; }

  .main__wrapper {
    padding: 0; }

  .menu__wrapper {
    margin-top: 0px; }

  .main__title {
    margin-top: 55px;
    width: 100%;
    font-weight: 300;
    font-size: 33px;
    line-height: 33px; }

  .main__subtitle {
    padding: 43px 0 61px 0; }

  .main__subtitle._active {
    padding: 90px 0 67px 0; }

  .options {
    display: flex;
    flex-direction: column; }

  .options__item {
    width: 355px;
    height: 291px; }
    .options__item-title {
      font-size: 24px;
      line-height: 24px; }

  .options__item-link {
    width: 100%;
    height: 76px; }

  .more__arrow {
    height: 20px; }

  .markets__title h2 {
    height: 130px;
    width: 100%;
    font-size: 38px;
    line-height: 38px; }

  .mobile-get-client {
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .hamburger {
    padding: 0; }

  .markets__wrapper {
    padding: 0; }

  .markets__map img {
    height: 147px; }

  .tools__wrapper {
    height: auto; }

  .tools__title {
    height: 135px;
    margin: 37px; }

  .tools__item-container {
    width: 100%;
    height: 40px; }
    .tools__item-container:nth-child(1) {
      background: url("../../icons/tools_item.svg");
      background-repeat: no-repeat;
      background-position: left 220px top -90px;
      background-color: #0E3848; }
      .tools__item-container:nth-child(1):before {
        background: url("../../icons/tools_item.svg") 0 0 repeat;
        transform: rotate(30deg); }
    .tools__item-container:nth-child(2) {
      background: url("../../icons/tools_item2.svg");
      background-repeat: no-repeat;
      background-position: left 139px top -8px;
      background-color: #0E3848; }
    .tools__item-container:nth-child(3) {
      background: url("../../icons/tools_item.svg");
      background-repeat: no-repeat;
      background-position: left -3px top -81px;
      background-color: #0E3848; }
    .tools__item-container:nth-child(4) {
      background: url("../../icons/tools_item3.svg");
      background-repeat: no-repeat;
      background-position: left -3px top -101px;
      background-color: #0E3848; }
    .tools__item-container:nth-child(5) {
      background: url("../../icons/tools_item.svg");
      background-repeat: no-repeat;
      background-position: left -6px top -106px;
      background-color: #0E3848; }
    .tools__item-container:nth-child(6) {
      background: url("../../icons/tools_item.svg");
      background-repeat: no-repeat;
      background-position: left -4px top -129px;
      background-color: #0E3848; }
    .tools__item-container:nth-child(7) {
      background: url("../../icons/tools_item.svg");
      background-repeat: no-repeat;
      background-position: left -3px top -101px;
      background-color: #0E3848; }

  .tools__item-subtitle {
    padding: 7px; }

  .approach__title {
    height: 75px; }

  .approach__table {
    grid-template-columns: 100px 270px;
    grid-template-rows: 391px; }

  .approach__number {
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__title {
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    border: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__descr {
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .numbers__list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-line {
    position: relative;
    margin-top: 50px; }

  .g-form {
    grid-template-columns: 355px;
    padding: 0;
    margin-top: 10px;
    grid-gap: 0; }

  .partners__form-wrapper {
    min-height: 570px;
    margin-top: 40px; }

  .partners__form-submit {
    height: 56px;
    margin-top: 40px; }

  .form__input {
    height: 56px; }

  .questions__list {
    display: flex;
    flex-direction: column; }

  .questions__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .footer__contacts {
    margin: 10px; }

  .footer__adress {
    margin: 10px; }

  .footer__button {
    display: block;
    margin: 10px; } }
@media (max-width: 375px) {
  .container {
    margin: 20px 10px 10px 10px;
    max-width: 375px; }

  .main__title {
    width: 100%; }

  .main__subtitle {
    padding: 43px 0 61px 0; }

  .options {
    display: flex;
    flex-direction: column; }

  .options__item {
    width: 355px;
    height: 291px; }
    .options__item-title {
      font-size: 24px;
      line-height: 24px; }

  .options__item-link {
    width: 100%;
    height: 76px; }

  .more__arrow {
    height: 20px; }

  .markets__title h2 {
    height: 130px;
    width: 100%;
    font-size: 38px;
    line-height: 38px; }

  .mobile-get-client {
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .hamburger {
    padding: 0; }

  .markets__wrapper {
    padding: 0; }

  .markets__map img {
    height: 147px; }

  .tools__wrapper {
    height: auto; }

  .tools__title {
    margin: 37px; }

  .tools__item-container {
    width: 100%;
    height: 40px; }

  .tools__item-subtitle {
    padding: 7px; }

  .approach__table {
    grid-template-columns: 100px 270px;
    grid-template-rows: 391px; }

  .approach__number {
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__title {
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    border: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__descr {
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .numbers__list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-line {
    position: relative;
    margin-top: 50px; }

  .g-form {
    grid-template-columns: 355px;
    padding: 0;
    margin-top: 10px;
    grid-gap: 0; }

  .partners__form-wrapper {
    min-height: 362px;
    margin-top: 40px; }

  .partners__form-submit {
    height: 56px;
    margin-top: 40px; }

  .form__input {
    height: 56px; }

  .questions__list {
    display: flex;
    flex-direction: column; }

  .questions__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .footer__contacts {
    margin: 10px; }

  .footer__adress {
    margin: 10px; }

  .footer__button {
    display: block;
    margin: 10px; } }
@media (max-width: 390px) {
  .container {
    margin: 20px 10px 10px 10px;
    max-width: 390px; }

  .main__title {
    width: 100%; }

  .main__subtitle {
    padding: 43px 0 61px 0; }

  .options {
    display: flex;
    flex-direction: column; }

  .options__item {
    width: 355px;
    height: 291px; }
    .options__item-title {
      font-size: 24px;
      line-height: 24px; }

  .options__item-link {
    width: 100%;
    height: 76px; }

  .more__arrow {
    height: 20px; }

  .markets__title h2 {
    height: 130px;
    width: 100%;
    font-size: 38px;
    line-height: 38px; }

  .mobile-get-client {
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px; }

  .hamburger {
    padding: 0; }

  .markets__wrapper {
    padding: 0; }

  .markets__map img {
    height: 147px; }

  .tools__wrapper {
    min-height: auto; }

  .tools__title {
    margin: 37px; }

  .tools__item-container {
    width: 100%;
    height: 40px; }

  .tools__item-subtitle {
    padding: 7px; }

  .approach__table {
    display: block; }

  .approach__number {
    padding-left: 0;
    padding-bottom: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__title {
    padding-left: 0;
    padding-top: 5px;
    padding-right: 0;
    border: 0;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }

  .approach__descr {
    padding-left: 0;
    border: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .numbers__item-title {
    font-size: 150px;
    line-height: 200px;
    text-align: center;
    letter-spacing: -.04em;
    color: #fff; }

  .numbers__list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .numbers__item-line {
    position: relative;
    margin-top: 50px; }

  .g-form {
    grid-template-columns: 355px;
    padding: 0;
    margin-top: 10px;
    grid-gap: 10px; }

  .partners__form-wrapper {
    min-height: 430px;
    margin-top: 40px; }

  .partners__form-submit {
    height: 56px;
    margin-top: 40px; }

  .form__input {
    height: 56px; }

  .questions__list {
    display: flex;
    flex-direction: column; }

  .questions__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 38px; }

  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px; }

  .footer__contacts {
    margin: 10px; }

  .footer__adress {
    margin: 10px; }

  .footer__button {
    display: block;
    margin: 10px; } }

/*# sourceMappingURL=style.css.map */
