@media (max-width: 1200px) {
    .container {
        max-width: 970px;
        margin: 0 auto;
        }

        .menu__wrapper{
            display: flex;
        }

        .logo__brand{
            width: 165px;
            height: 66px;
        }
    
        .logo__brand img{
            width: 150px;
            height: 66px;
        }
        
        .lang__list {
            padding: 16px;
            width: 80px;
            height: 66px;

            font-size: 18px;
            line-height: 18px;
        }

        .menu__list {
            gap: 15px;
            margin: 0 auto;;
            }
        

        .menu__item a{
            font-weight: 600;
            font-size: 16px;
        }


        .button__client {
            padding: 16px 30px;
            gap: 8px;
            width: 200px;
            height: 64px;
            &:hover {
                width: 200px;
                height: 64px;
            }
        }
        
        .options {
            grid-template-columns: repeat(2,510px);
            grid-template-rows: repeat(2,320px);
            grid-gap: 20px;
        }

        .options__item {
            width: 490px;
        }

        .options__item-link {
            gap: 187px;
        }

        .main__title h1{
            font-weight: 300;
            font-size: 72px;
            line-height: 72px;
        }

        .tools__wrapper {
            min-height: 457px;
        }

        .tools__item-container{
            width: 230px;
            height: 121px;
        }
        .approach__table {
            grid-template-rows: repeat(3,206px);
        }

        .g-form {

            grid-template-columns: 545px 545px;
        }

        .questions__list {
            grid-template-columns: 390px 770px;
        }

        .footer__wrapper {
            grid-template-columns: 250px 400px 350px 200px;
        }

        .footer__wrapper {
            grid-template-columns: 250px 400px 300px 200px;
            font-size: 28px;
            line-height: 28px;
        }
}