@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        }
    h1 {
        font-weight: 300;
        font-size: 72px;
        line-height: 72px;
    }
    
    .menu__wrapper {
        justify-content: space-between;
    }

    .logo__brand{
        width: 165px;
        height: 66px;
    }

    .logo__brand img{
        width: 205px;
        height: 66px;
    }

    .menu__list {
        gap: 12px;
        margin: 0 auto;
    }

    .menu__item a{
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
    }

    .button__client {
        padding: 16px 30px;
        width: 207px;
        height: 80px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        &:hover {
            padding: 16px 30px;
            gap: 8px;
            // width: 100%;
            height: 80px;
            background-color: $background;
            color: $button;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }

    .main__title {
        width: 909px;
        height: 216px;
    }
    .options {
        display: grid;
        grid-template-columns: repeat(2, 590px);
        grid-template-rows: repeat(2, 300px);
        grid-auto-flow: row;
        grid-gap: 20px;
    }

    .options__item {
        width: 100%;
        height: 100%;
    }

    .more__arrow {
        position: absolute;
        height: 34px;
        top: -10px;
        left: 475px;
    }

    .markets__title h2 {
        font-size: 38px;
        line-height: 38px;
    }

    .tools__wrapper {
        min-height: 576px;
    }

    .tools__item-container{
        width: 325px;
        height: 141px;
    }

    .tools__item-subtitle{
        padding-top: 59px;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }

    .approach__table {
        display: grid;
        grid-template-columns: 97px 611px;
        grid-template-rows: repeat(3,220px);
    }

    .number__wrapper {
        margin-top: 40px;
    }

    .numbers__list {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    }

    .questions__list {
        grid-template-columns: 341px 730px;
    }

    .questions__title {
        font-weight: 300;
        font-size: 48px;
        line-height: 54px;
        color: #f4f7fa;
    }

    .footer__wrapper {
        grid-template-columns: 250px 400px 350px 200px;
    }
}