@media (max-width:1600px) {
    .container {
        max-width: 1440px;
    }
    .menu__wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .menu__list {
        gap: 28px;
    }
    .options {
        display: grid;
        grid-template-columns: repeat(4,350px);
        grid-gap: 10px;
    }

    .options__item{
        width: 350px;
        &-title {
            font-weight: 300;
            font-size: 28px;
            line-height: 28px;
            color: #F4F7FA;
        }
        &-subtitle {
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;    
            color: #D5DFE6;
        }
        }
        .options__item-link {
            position: relative;
        }
        .more__arrow {
            position: absolute;
            height: 34px;
            top: -10px;
            left: 265px;
        }

    .questions__list {
        grid-template-columns: 390px 770px;
    }

    .footer__wrapper {
        grid-template-columns: 354px 364px 448px 249px;
        font-size: 28px;
        line-height: 28px;
    }
}