@media (max-width: 375px){
    .container {
        margin: 20px 10px 10px 10px;
        max-width: 375px;
    }

    .main__wrapper{
        padding: 0;
    }

    .main__title {
        margin-top: 55px;
        width: 100%;
    }
    .main__subtitle {
        padding: 43px 0 61px 0;;
    }

    .main__subtitle._active {
        padding: 90px 0 67px 0;
    }

    .options {
        display: flex;
        flex-direction: column;
    }

    .options__item {
        width: 355px;
        height: 291px;
        &-title {
            font-size: 24px;
            line-height: 24px;
        }
    }
    .options__item-link {
        width: 100%;
        height: 76px;
    }
    .more__arrow {
        height: 20px;
    }
    .markets__title h2 {
        height: 130px;
        width: 100%;
        font-size: 38px;
        line-height: 38px;
    }
    .mobile-get-client {
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
    .hamburger {
        padding: 0;
    }
    .markets__wrapper {
        padding: 0;
    }

    .markets__map img {
        height: 147px;
    }

    .tools__wrapper {
        height: auto;
    }

    .tools__title {
        height: 135px;
        margin: 37px;
    }

    .tools__item-container {
        width: 100%;
        height: 40px;
        &:nth-child(1){
            background: url('../../icons/tools_item.svg');
            background-repeat: no-repeat;
            background-position: left 220px top -90px;
            background-color:#0E3848;
            &:before {
                background: url('../../icons/tools_item.svg') 0 0 repeat;
                transform: rotate(30deg);
              }
        }
        &:nth-child(2){
            background: url('../../icons/tools_item2.svg');
            background-repeat: no-repeat;
            background-position: left 139px top -8px;
            background-color:#0E3848;
        }
        &:nth-child(3){
            background: url('../../icons/tools_item.svg');
            background-repeat: no-repeat;
            background-position: left -3px top -81px;
            background-color:#0E3848;
        }
        &:nth-child(4){
            background: url('../../icons/tools_item3.svg');
            background-repeat: no-repeat;
            background-position: left -3px top -101px;
            background-color:#0E3848;
        }
        &:nth-child(5){
            background: url('../../icons/tools_item.svg');
            background-repeat: no-repeat;
            background-position: left -6px top -106px;
            background-color:#0E3848;
        }
        &:nth-child(6){
            background: url('../../icons/tools_item.svg');
            background-repeat: no-repeat;
            background-position: left -4px top -129px;
            background-color: #0E3848;
        }
        &:nth-child(7){
            background: url('../../icons/tools_item.svg');
            background-repeat: no-repeat;
            background-position: left -3px top -101px;
            background-color:#0E3848;
        }
    }

    .tools__item-subtitle {
        padding: 7px;
    }

    .approach__title {
        height: 75px;
    }

    .approach__table {
        grid-template-columns: 100px 270px;
        grid-template-rows: 391px;
    }
    .approach__number {
        padding-left: 0;
        padding-bottom: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__title {
        padding-left: 0;
        padding-top: 5px;
        padding-right: 0;
        border: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__descr {
        padding-left: 0;
        border: 0;
        padding-right: 0;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }

    .numbers__list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .numbers__item-line {
        position: relative;
        margin-top: 50px;
    }

    .g-form {
        grid-template-columns: 355px;
        padding: 0;
        margin-top: 10px;
        grid-gap: 0;
    }

    .partners__form-wrapper {
        min-height: 570px;
        margin-top: 40px;
    }
    .partners__form-submit {
        height: 56px;
        margin-top: 40px;
    }

    .form__input {
        height: 56px;
    }

    .questions__list {
        display: flex;
        flex-direction: column;
    }
    
    .questions__title {
        text-align: center;
        font-weight: 300;
        font-size: 38px;
        line-height: 38px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__contacts {
        margin: 10px;
    }

    .footer__adress{
        margin: 10px;
    }
    .footer__button {
        display: block;
        margin: 10px;
    }
}

@media (max-width: 375px){
    .container {
        margin: 20px 10px 10px 10px;
        max-width: 375px;
    }
    .main__title {
        width: 100%;
    }
    .main__subtitle {
        padding: 43px 0 61px 0;;
    }

    .options {
        display: flex;
        flex-direction: column;
    }

    .options__item {
        width: 355px;
        height: 291px;
        &-title {
            font-size: 24px;
            line-height: 24px;
        }
    }
    .options__item-link {
        width: 100%;
        height: 76px;
    }
    .more__arrow {
        height: 20px;
    }
    .markets__title h2 {
        height: 130px;
        width: 100%;
        font-size: 38px;
        line-height: 38px;
    }
    .mobile-get-client {
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
    .hamburger {
        padding: 0;
    }
    .markets__wrapper {
        padding: 0;
    }

    .markets__map img {
        height: 147px;
    }

    .tools__wrapper {
        height: auto;
    }

    .tools__title {
        margin: 37px;
    }
    .tools__item-container {
        width: 100%;
        height: 40px;
    }

    .tools__item-subtitle {
        padding: 7px;
    }

    .approach__table {
        grid-template-columns: 100px 270px;
        grid-template-rows: 391px;
    }
    .approach__number {
        padding-left: 0;
        padding-bottom: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__title {
        padding-left: 0;
        padding-top: 5px;
        padding-right: 0;
        border: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__descr {
        padding-left: 0;
        border: 0;
        padding-right: 0;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }

    .numbers__list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .numbers__item-line {
        position: relative;
        margin-top: 50px;
    }

    .g-form {
        grid-template-columns: 355px;
        padding: 0;
        margin-top: 10px;
        grid-gap: 0;
    }

    .partners__form-wrapper {
        min-height: 362px;
        margin-top: 40px;
    }
    .partners__form-submit {
        height: 56px;
        margin-top: 40px;
    }

    .form__input {
        height: 56px;
    }

    .questions__list {
        display: flex;
        flex-direction: column;
    }
    
    .questions__title {
        text-align: center;
        font-weight: 300;
        font-size: 38px;
        line-height: 38px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__contacts {
        margin: 10px;
    }

    .footer__adress{
        margin: 10px;
    }
    .footer__button {
        display: block;
        margin: 10px;
    }
}

@media (max-width: 390px) {
    .container {
        margin: 20px 10px 10px 10px;
        max-width: 390px;
    }

    .main__title {
        width: 100%;
    }
    .main__subtitle {
        padding: 43px 0 61px 0;;
    }

    .options {
        display: flex;
        flex-direction: column;
    }

    .options__item {
        width: 355px;
        height: 291px;
        &-title {
            font-size: 24px;
            line-height: 24px;
        }
    }
    .options__item-link {
        width: 100%;
        height: 76px;
    }
    .more__arrow {
        height: 20px;
    }
    .markets__title h2 {
        height: 130px;
        width: 100%;
        font-size: 38px;
        line-height: 38px;
    }
    .mobile-get-client {
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
    .hamburger {
        padding: 0;
    }
    .markets__wrapper {
        padding: 0;
    }

    .markets__map img {
        height: 147px;
    }

    .tools__wrapper {
        min-height: auto;
    }

    .tools__title {
        margin: 37px;
    }
    .tools__item-container {
        width: 100%;
        height: 40px;
    }

    .tools__item-subtitle {
        padding: 7px;
    }

    .approach__table {
        display: block;
        // grid-template-columns: 370px;
        // grid-template-rows: 391px;
    }
    .approach__number {
        padding-left: 0;
        padding-bottom: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__title {
        padding-left: 0;
        padding-top: 5px;
        padding-right: 0;
        border: 0;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
    .approach__descr {
        padding-left: 0;
        border: 0;
        padding-right: 0;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }
    .numbers__item-title {
        font-size: 150px;
        line-height: 200px;
        text-align: center;
        letter-spacing: -.04em;
        color: #fff;
    }

    .numbers__list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .numbers__item-line {
        position: relative;
        margin-top: 50px;
    }

    .g-form {
        grid-template-columns: 355px;
        padding: 0;
        margin-top: 10px;
        grid-gap: 10px;
    }

    .partners__form-wrapper {
        min-height: 430px;
        margin-top: 40px;
    }

    .partners__form-submit {
        height: 56px;
        margin-top: 40px;
    }

    .form__input {
        height: 56px;
    }

    .questions__list {
        display: flex;
        flex-direction: column;
    }
    
    .questions__title {
        text-align: center;
        font-weight: 300;
        font-size: 38px;
        line-height: 38px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__contacts {
        margin: 10px;
    }

    .footer__adress{
        margin: 10px;
    }
    .footer__button {
        display: block;
        margin: 10px;
    }
}