@media (max-width: 991px) {
    .container {
        max-width: 991px;
        margin: 0 40px 0 40px;
    }
    .menu__wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .logo__brand{
        width: 165px;
        height: 66px;
    }

    .logo__brand img{
        width: 150px;
        height: 66px;
    }

    .menu__list {
        gap: 10px;
        margin: 0 auto;
    }

    .menu__item a{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }
    .lang__list {
        width: 80px;
        height: 44px;
    }

    .get__client {
        height: 64px;
    }

    .button__client {
        padding: 16px 30px;
        gap: 8px;
        width: 120px;
        height: 44px;
        &:hover {
            width: 200px;
            height: 64px;
        }
    }
    

    .main__wrapper {
        min-height: 900px;
        padding: 180px 0 50px 0;
        }

    .options {
        grid-template-columns: repeat(2,425px);
        grid-template-rows: repeat(2,245px);
    }

    .options__item {
        width: 425px;
        height: 250px;
        &-title {
            font-size: 20px;
        }
        &-subtitle{
            font-size: 18px;
        }
        &-link {
            font-size: 18px;
            gap: 215px;
        }
    }

    .options__item-link img {
        width: 30px;
    }

    .main__title h1{
        font-weight: 300;
        font-size: 72px;
        line-height: 72px;
    }

    .tools__title {
        padding-bottom: 50px;
    }

    .tools__wrapper {
        min-height: 457px;
    }

    .tools__item-container{
        width: 230px;
        height: 121px;
    }

    .approach_wrapper {
        padding: 50px 0 0 0;
    }
    .approach__table {
        margin: 20px 0 0 0;
        grid-template-rows: repeat(3,125px);
        justify-content: center;
    }
    .approach__number {
        border-top: 2px solid #D9D9D9;
        padding: 25px;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        color: #F4F7FA;
    }
    
    .approach__title {
        border-top: 2px solid #D9D9D9;
        padding: 5px;
        font-weight: 300;
        font-size: 32px;
        line-height: 72px;
        color: #F4F7FA;
    }

    .number__wrapper {
        margin-top: 60px;
    }

    .numbers__list {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .numbers__item-title {
        font-size: 150px;
        line-height: 200px;
    }

    .numbers__item-line {
        position: relative;
    }
    .partners__form-wrapper {
        margin-top: 50px;
        min-height: 470px;
        background-size: 100% 474px;
        background-position: top -8px right 0;
    }

    .g-form {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 600px;
        grid-template-rows: max-content;
        width: 100%;
    }

    .g-form__button {
        height: 70px;
    }

    .questions__list {
        grid-template-columns: 231px 518px;
    }

    .questions__title {
        font-weight: 300;
        font-size: 34px;
        line-height: 64px;
        color: #f4f7fa;
    }
    .footer__wrapper {
        padding: 0 0 20px 0;
        border: none;
        grid-template-columns: 430px 430px;
        grid-template-rows: max-content max-content;
        justify-content: center;
    }
    .footer__contacts {
        font-size: 24px;
        line-height: 24px;
        color: white;
    }
    .footer__contacts a {
        font-size: 24px;
        line-height: 24px;
    }
    .footer__adress {
        font-size: 24px;
        line-height: 24px;
    }

    .button__client {
        width: 219.29px;
        height: 60px;
    }
}