@media (max-width: 1920px) {
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
    .menu__wrapper {
        justify-content: space-between;
    }
    .menu__list {
        gap: 47px;
    }
    .partners__form-wrapper {
        display: flex;
        justify-content: center;
    }
}
@import '1600';
@import '1440';
@import '1200';
@import '991';
@import '768';
@import '576';
@import '390';
@import '375';
