$background: #0B222E;
$gray: #F4F7FA;
$button: #4DA19F;
$color: #4DA19F;		  // icon color
$blue: #4DA19F;	  // background color
$animation: 0.6s;	// animation speed
$scale: 1;			  // icon scale 68/68 default
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

$no-of-el: 5;
$size: 20px;
$margin: 5px;
$offset: .25s;
$color: var(--primary);
