.approach_wrapper {
    margin-top: 80px;
}

.approach__table {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 185px 685px;
    grid-template-rows: repeat(3,216px);
    justify-content: center;

}
.approach__number {
    padding: 25px;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #F4F7FA;
    border-bottom:1px solid #F4F7FA;
}

.approach__title {
    padding: 15px 25px 15px 25px;
    font-weight: 300;
    font-size: 72px;
    line-height: 72px;
    color: #F4F7FA;
    border-bottom:1px solid #F4F7FA;
}
