.lang__list {
    padding: 16px;
    width: 117px;
    height: 80px;
    border: 3px solid $button;
    background-color: $background;
    color: $gray;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    &:focus-visible {
        outline: none;
    }
}

.button__client {
    padding: 16px 30px;
    gap: 8px;
    width: 230px;
    height: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: $button;
    color: $background;
    border: none;
    transition-duration: 0.4s;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    &:-webkit-transition{
        background-color: 1s;
    }
    &:hover {
        padding: 16px 30px;
        gap: 8px;
        // width: 100%;
        background-color: #155654;
        color: $button;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.g-form__button {
    background: $button;
    color: $background;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    &:-webkit-transition{
        background-color: 1s;
    }
    &:hover {
        background-color: $background;
        color: $button;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.rate__button {
    width: 470px;
    height: 80px;
    background: $button;
    color: $background;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    &:-webkit-transition{
        background-color: 1s;
    }
    &:hover {
        background-color: $background;
        color: $button;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
    }
}
