// .menu__wrapper {
//     margin-top: 40px;
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//     justify-content: space-between;
//     background-color: $background;
// }

.menu__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: minmax(max-content, max-content, max-content max-content);
    grid-template-areas: 
    ". . . .";
    justify-content: space-around;
    background-color: $background;
    width: 100%;
}

.logo__brand {
    width: 311.73px;
    height: 80px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 96px;
    text-decoration: none;
    z-index: 1;
}

.hamburger {
    display: none;
}

.container__menu {
    display: none;
}
	
// .main__title {
//     width: 1125px;
//     height: 300px;
// }

.menu__link {
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #F4F7FA;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    width: 100%;
    height: 500px;
    &:hover {
        background-size: 100% 2px;
    }

    .lang__list {
        display: block;
    }

.get__client {
    width: 250px;
}
}