.menu__wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $background;
}

.menu__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 96px;
}

.main__title {
    width: 1125px;
    height: 300px;
}

.menu__item a{
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #F4F7FA;
    text-decoration: none;
    transition: all 0.5s;
}
