.options {
    display: grid;
    grid-template-columns: repeat(4, 425px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
}

.options__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 425px;
    height: 307px;
    gap: 21px;
    padding: 20px 50px 30px 30px;
    &:nth-child(1){
        background-color:#377472;
    }
    &:nth-child(2){
        background-color:#3A4352;
    }
    &:nth-child(3){
        background-color:#13485C;
    }
    &:nth-child(4){
        background-color:#19333D;
    }
    &-title {
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
        color: #F4F7FA;
    }
    &-subtitle {
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;    
        color: #D5DFE6;
    }
    &-link {
        display: flex;
        justify-content: space-between;
        width: 365px;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: #F4F7FA;
        text-decoration: none;
        gap: 150px;
        }
    }


