.partners__form-wrapper {
    min-height: 468px;
    margin-top: 80px;
    background-image: url(../../img/mainbg.png);
    background-repeat: no-repeat;
    background-size: 100% 670px;
    background-position: top 101px right 0px;
}

// .g-form {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     flex-wrap: wrap;
// }

// .g-form__preloader {
//     display: none;
// }

// .g-form__title_main {
//     font-weight: 300;
//     font-size: 100px;
//     line-height: 100%;
//     text-align: center;
//     color: #F4F7FA;
// }

// .g-form__title_respond{
//     font-weight: 300;
//     font-size: 100px;
//     line-height: 100%;
//     text-align: center;
//     color: #F4F7FA;

// }

// .g-form__input-wrapper {
//     border: none;
// }

// .g-form__input {
//     width: 624px;
//     height: 90px;
//     font-weight: 300;
//     font-size: 22px;
//     line-height: 100%;
//     padding: 25px 0 25px 30px;
//     background: #0E3848;
//     text-transform: uppercase;
//     color: #92A4B2;
//     border: none;
// }

// .g-form__button {
//     width: 624px;
//     height: 90px;
//     background-color: $button;
// }




.partners__form-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #92A4B2;
}

.g-form{
    margin-top: 132px;
    display: grid;
    grid-template-columns: 624px 624px;
    grid-template-rows: 90px 90px;
    justify-content: center;
    grid-gap: 20px;
}

.form__input {
    padding: 25px 0 25px 30px;
    background: #0E3848;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #92A4B2;
    border: none;
}