.partners__form-wrapper {
    min-height: 468px;
    margin-top: 80px;
    background-image: url(../../img/mainbg.png);
    background-repeat: no-repeat;
    background-size: 100% 670px;
    background-position: top 101px right 0px;
    font-size: 1em;
}


.partners__form-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #92A4B2;
}

.form{
    margin-top: 132px;
    display: grid;
    grid-template-columns: 624px 624px;
    grid-template-rows: 90px 90px;
    justify-content: center;
    grid-gap: 20px;
}

.form__input {
    padding: 25px 0 25px 30px;
    background: #0E3848;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #92A4B2;
    border: none;
    outline: none;
}

._error {
    box-shadow: 0 0 15px red;
}

.g-form__body {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}
